@import "./Common.module.scss";

#aboutContainer {
  @media (max-width: 1024px) {
    display: none;
  }
  width: 100%;
  display: flex;
  flex-direction: row;
  background: white;
  .iconContainer {
    text-align: center;
    vertical-align: center;
    background: black;
    width: 50%;
  }
  .descriptionContainer {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #f7e9ba;
    .description {
      width: 100%;
      font-size: medium;
      em {
        font-style: normal;
        font-size: x-large;
      }
      a {
        @extend .linkStyle;
      }
      @media (max-width: 1024px) {
        font-size: small;
        em {
          font-size: large;
        }
      }
      text-align: left;
      padding-left: 20%;
    }
  }
}

#aboutContainerPhone {
  display: none;
  @media (max-width: 1024px) {
    display: flex;
  }
  width: 100%;
  flex-direction: column;
  .iconContainer {
    text-align: center;
    vertical-align: center;
    background-size: contain;
    width: 100%;
  }
  .descriptionContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #f7e9ba;
    .description {
      font-size: small;
      em {
        font-style: normal;
        font-size: large;
      }
      a {
        @extend .linkStyle;
      }
      text-align: left;
      padding-left: 30%;
    }
  }
}
