.information {
  width: 200px;
  @media (max-width: 768px) {
    width: 20px;
  }
  text-align: right;
  padding-top: 6em;
}

.tooltip {
  div {
    display: flex;
    flex-direction: row;
    p {
      display: block;
      text-align: left;
    }
    img {
      display: none;
      @media (max-width: 768px) {
        display: block;
        width: 100px;
      }
    }
  }
}

.input {
  background-color: #f7e9ba;
  width: 290px;
  @media (max-width: 768px) {
    width: 270px;
  }
}

.contactImage {
  @media (max-width: 768px) {
    display: none;
  }
}

.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contactForm {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  .contactMain {
    @media (max-width: 768px) {
      width: 95vw;
    }
  }
}

.contactBody {
  background-color: #f7e9ba;
  max-width: 600px;
  height: 200px;
  width: 600px;
  @media (max-width: 1024px) {
    width: 410px;
  }
  @media (max-width: 768px) {
    width: 92vw;
  }
}

.mailAddressLabel {
  @media (min-width: 1025px) {
    margin-left: 5em;
    margin-right: 0.15em;
  }
}

.nameLabel {
  @media (min-width: 1025px) {
    margin-left: 5em;
  }
}

.requestTypeLabel {
  @media (min-width: 1025px) {
    margin-left: 5em;
  }
}


.contactButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 600px;
  @media (max-width: 1024px) {
    width: 410px;
  }
  @media (max-width: 768px) {
    width: 90vw;
  }
}

.details {
  text-align: center;
  @media (max-width: 768px) {
    text-align: left;
  }
}

.googleRecaptchaNotice {
  font-size: xx-small;
  width: 90vw;
}

.sending {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%)
             translateY(-50%);
}
