.main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .background {
    background-image: url("../public/global_bg.webp");
    z-index: -100;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }
  // ヘッダ画像が一画面で表示できる場合
  .mainHeaderNormal {
    width: 100%;
    height: 52.5vw; // ヘッダの画像の実際のピクセル数から 543 / 1032と計算した。
    .mainHeaderPhone {
      img {
        width: 100%;
        height: 52.5vw;
        left: 0;
      }
    }
  }
  // 画面が横長の場合はヘッダ画像の下部が見えなくなるので、それを防ぐ。
  .mainHeaderWide {
    height: calc( 100vh - 60px );
    width: 100%;
    .mainHeaderPhone {
      img {
        height: calc( 100vh - 60px );
        width: 100vw;
      }
    }
  }

  .phoneHeader {
    display: none;
  }
  @media (max-width: 768px) {
    .desktopHeader {
      display: inline;
    }
    .phoneHeader {
      display: default;
    }
  }

  .mainHeader {
    margin-top: 60px; // ヘッダナビゲーションの高さ
    background-image: none;
    .mainHeaderPhone {
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
      //  ヘッダ画像はずっと画面の中で固定されている。その画像をスクロールの上部でのみ見えるようにするためのトリック
      .mainHeaderPhoneClip {
        position: relative;
        clip-path: inset(0 0 0 0);
        height: 100%;
      }

      img {
        position: fixed;
        top: 60px;
        z-index: -1;
        pointer-events: none;
        object-fit: contain;
      }
    }
  }
  section {
    width: 100%;

    .sectionHeader {
      height: 40vh;
      @media (max-width: 768px) {
          height: 20vh;
      }
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: whitesmoke;
      /* 黒抜き文字 */
      -webkit-text-stroke: 4px black;
      text-stroke: 4px black;
      paint-order: stroke;
      font-size: xxx-large;
      text-decoration: underline;
    }
    .newsContainer {
      @media (max-width: 768px) {
        padding-top: 10px;
      }
      height: 20vh;
      overflow: auto;
      display: flex;
      flex-direction: row;
      @media (max-width: 768px) {
        flex-direction: column;
      }
      justify-content: center;
      @media (max-width: 768px)  {
        align-items: center;
      }
      color: whitesmoke;
      h2 {
        text-decoration: underline;
        margin-top: 8vh;
        @media (max-width: 768px) {
          font-size: small;
          margin-top: 2px;
        }
      }
      ul {
        margin-top: 2px;
        @media (min-width: 769px) {
          margin-top: 20px;
        }
        list-style: none;
        text-align: left;
        li {
          line-height: 2em;
          @media (max-width: 768px) {
            font-size: x-small;
          }
          .oldNews {
            opacity: 0;
          }
          cursor: "pointer";
          padding-left: 10.2em;
          text-indent: -10.2em;
          cursor: pointer;
        }
      }
    }
    .sectionContainer {
      text-align: center;
      .work {
        position: relative;
        display: inline-block;
        cursor: pointer;
        width: 25vw;
        height: 18.75vw;
        @media (max-width: 768px) {
          width: 50vw;
          height: 37.5vw;
        }
      }
      .illustrations {
        line-height: 0;
        column-count: 3;
        column-gap: 0;
        width: 60%;
        @media (max-width: 768px) {
          width: 100%;
          column-count: 2;
        }
        margin: auto;
      }
    }
  }
}

#newsHeader {
  background-image: none;
  background-color: transparent;
  h2 {
    /* 黒抜き文字 */
    -webkit-text-stroke: 4px black;
    text-stroke: 4px black;
    paint-order: stroke;
  }
  .newsContainerAttachment {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    .newsContainerClip {
      position: relative;
      clip-path: inset(0 0 0 0);
      height: 200%;
    }

    // ヘッダ画像が一画面で表示可能な場合
    .newsBackgroundNormal {
      width: 100%;
      height: 100vh;
    }
    // 画面が横長でヘッダ画像の下部が切れてしまう場合
    .newsBackgroundWide {
      height: calc( 100vh - 60px );
      left: calc((100vw - (100vh - 60px) / 543 * 1032) / 2)
    }

    img {
      position: fixed;
      left: 0;
      z-index: -1;
      pointer-events: none;
      object-fit: contain;
      background-color: black;
    }
  }
}

#worksHeader {
  color: black;
  /* 白抜き文字 */
  -webkit-text-stroke: 4px whitesmoke;
  text-stroke: 4px whitesmoke;
  paint-order: stroke;
  background-image: url("../public/header_gray.webp");
  @media (max-width: 768px) {
    background-image: url("../public/header_gray_phone.webp");
  }
  background-size: cover;
  background-attachment: fixed;
  font-size: 30pt;

  @media (max-width: 1366px) {
    background-size: cover;
    background-attachment: unset;
  }
  @media (max-width: 768px) {
    font-size: medium;
  }
}

#illustHeader {
  background-image: url("../public/header_nega.webp");
  @media (max-width: 768px) {
    background-image: url("../public/header_nega_phone.webp");
  }
  background-size: cover;
  background-attachment: fixed;
  font-size: 30pt;
  @media (max-width: 1366px) {
    background-size: cover;
    background-attachment: unset;
  }
  @media (max-width: 768px) {
    font-size: medium;
  }
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  padding: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  padding: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  padding: 2.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  padding: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  padding: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.illustration {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.video {
  width: 80vw;
}

.fullIllustrationContainer {
  text-align: center;
  .fullIllustration {
    max-height: 80vh; 
    max-width: 80vw;
  }
}

.loading {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%)
             translateY(-50%);
}

.showMore {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}
.showMore:hover {
  text-decoration: underline;
}
.showMore:focus {
  text-decoration: underline;
}
