.container {
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: black;
  opacity: 0.8;
  z-index: 900;
  .headerTitle {
    font-size: medium;
    color: whitesmoke;
    margin-left: 1em;
    cursor: pointer;
  }
  .globalNavi {
    @media (max-width: 600px) {
      display: none;
    }
    ul {
      padding: 0;
      li {
        display: inline-block;
        padding-right: 3em;
        color: whitesmoke;
      }
      .navItem {
        cursor: pointer;
      }
    }
  }
}

.globalNaviPhone {
    display: none;
  }

#drawerInput:checked ~ .globalNaviPhone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 60px;
  background: black;
  opacity: 0.8;
  z-index: 900;
  width: 100%;
  ul {
      padding: 0;
      li {
        display: flex;
        color: whitesmoke;
      }
      .navItem {
        cursor: pointer;
      }
    }
}

.main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .mainHeader {
    margin-top: 60px;
    width: 100vw;
    object-fit: contain;
  }
  section {
    width: 100%;

    .sectionHeader {
      height: 40vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: whitesmoke;
      font-size: xxx-large;
      text-decoration: underline;
    }
    .sectionContainer {
      text-align: center;

      ul {
        list-style: none;
        text-align: left;
      }
      .work {
        width: 25%;
        @media (max-width: 600px) {
          width: 100%;
        }
      }
      .illusts {
        width: 80%;
        @media (max-width: 600px) {
          width: 100%;
        }
        margin: auto;
      }
    }
  }
}

#aboutContainer {
  @media (max-width: 600px) {
    display: none;
  }
  width: 100%;
  display: flex;
  flex-direction: row;
  background: white;
  .iconContainer {
    text-align: center;
    vertical-align: center;
    background: black;
    width: 50%;
    .icon {

    }
  }
  .descriptionContainer {
    width: 50%;
    display: flex;
    flex-direction: row;
    background: orange;
    .description {
      font-size: small;
      text-align: left;
      width: 40%;
      padding-left: 5%;
    }
  }
}

#aboutContainerPhone {
  display: none;
  @media (max-width: 600px) {
    display: flex;
  }
  width: 100%;
  flex-direction: column;
  .iconContainer {
    text-align: center;
    vertical-align: center;
    background: black;
    width: 100%;
    .icon {

    }
  }
  .descriptionContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: orange;
    .description {
      font-size: small;
      text-align: left;
      width: 40%;
      padding-left: 5%;
    }
  }
}


#worksHeader {
  background-image: url("../public/sample_titleback.png");
  background-size: cover;
  background-attachment: fixed;
}

#illustHeader {
  background-image: url("../public/sample_titleback.png");
  background-size: cover;
  background-attachment: fixed;
}

#newsHeader {
  background-image: url("../public/sample_titleback.png");
  background-size: cover;
  background-attachment: fixed;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  img {
    margin-top: -8px;
  }
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  padding: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  padding: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  padding: 2.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  padding: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  padding: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  padding-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.link-style {
  cursor: pointer;
  border: none;
  background: none;
  color: #0033cc;
  &:hover {
    text-decoration: underline;
    color: #002080;
  }
}

.googleRecaptchaNotice {
  font-size: xx-small;
}

.drawerHidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawerOpen {
  display: none;
  @media (max-width: 600px) {
    display: flex;
  }
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawerOpen span,
.drawerOpen span:before,
.drawerOpen span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawerOpen span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawerOpen span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawerInput:checked ~ .header .drawerOpen span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawerInput:checked ~ .header .drawerOpen span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawerInput:checked ~ .header .drawerOpen span::after {
  top: 0;
  transform: rotate(-45deg);
}
