
.ReactModal__Content {
  background-color: transparent;
  inset: 400px !important;
  transition-property: background-color, inset;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
}

.ReactModal__Content--after-open {
  inset: 60px !important;
  background-color: rgba(250, 190, 190, 0.8);
}

.ReactModal__Content--before-close {
  inset: 400px !important;
  background-color: transparent;
}
