
.ReactModal__Content {
  margin-top: 10px !important;
  border-radius: 10px !important;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
  @media (max-width: 768px) {
    inset: 150px !important;
  }
  @media (min-width: 769px) {
    inset: 400px !important;
  }
}

.YoutubeModalPortal {
  .ReactModal__Content {
    @media (max-width: 768px) {
      height: 60%;
    }
  }
}

.IllustrationModalPortal {
  .ReactModal__Content {
    @media (min-width: 769px) {
      // width: 90%; // なんでこれが必要なんだっけ？ これがあるとモーダルのアニメーションが崩れる
      margin: auto;
    }
  }
}

.ReactModal__Content--after-open {
  @media (max-width: 768px) {
    inset: 15px !important;
  }
  @media (min-width: 769px) {
    inset: 60px !important;
  }
}

.ReactModal__Content--before-close {
  background-color: transparent;
  @media (max-width: 768px) {
    inset: 150px !important;
  }
  @media (min-width: 769px) {
    inset: 400px !important;
  }
}

.NewsModalPortal {
  .ReactModal__Content {
    @media (max-width: 768px) {
      height: 40%;
    }
  }
  .ReactModal__Content--after-open {
    @media (min-width: 769px) {
      inset: 250px !important;
    }
  }
  .ReactModal__Content--before-close {
    @media (min-width: 769px) {
      inset: 500px !important;
    }
  }
  
}

.ReactModal__Overlay {
  @media (max-width: 768px) {
    z-index: 1000;
  }
}
