.workWithoutVideo {
    margin: auto;
    .workWithoutVideoContainer {
        padding-bottom: 10px;
        .title {
            margin-left: 30vw;
            @media (max-width: 768px) {
                margin-left: 10vw;
            }
            font-Size: 13pt;
            line-height: 1em;
        }
        .content {
            width: 30vw;
            margin: auto;
            @media (max-width: 768px) {
                width: 70vw;
            }
            .publishedMonth {
                margin: 0;
            }
            .description {
                margin: 0;
                white-space: pre-wrap;
            }
        }
        
    }
}